In [172]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import keras
from keras.models import Sequential 
from keras.layers import Dense
from sklearn.metrics import accuracy_score
#KFolds
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold



from sklearn.model_selection import GridSearchCV
from keras.layers import Activation
from keras.wrappers.scikit_learn import KerasClassifier
from keras.wrappers.scikit_learn import KerasRegressor

from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
regr = linear_model.LinearRegression()

In [173]:
dataset = pd.read_csv("supermarket_sales.csv")
dataset.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [174]:
dataset.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

In [175]:
dataset.isnull().sum()

Invoice ID                 0
Branch                     0
City                       0
Customer type              0
Gender                     0
Product line               0
Unit price                 0
Quantity                   0
Tax 5%                     0
Total                      0
Date                       0
Time                       0
Payment                    0
cogs                       0
gross margin percentage    0
gross income               0
Rating                     0
dtype: int64

In [176]:
print(dataset["Payment"].unique())

['Ewallet' 'Cash' 'Credit card']

In [177]:
ohe = pd.get_dummies(dataset['Gender'],drop_first = True)
dataset.drop('Gender', axis = 1, inplace = True)
dataset =  dataset.join(ohe)
dataset.head()

,Invoice ID,Branch,City,Customer type,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,Male
0,750-67-8428,A,Yangon,Member,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1,0
1,226-31-3081,C,Naypyitaw,Normal,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6,0
2,631-41-3108,A,Yangon,Normal,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4,1
3,123-19-1176,A,Yangon,Member,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4,1
4,373-73-7910,A,Yangon,Normal,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3,1

In [178]:
ohe = pd.get_dummies(dataset['Customer type'],drop_first = True)
dataset.drop('Customer type', axis = 1, inplace = True)
dataset =  dataset.join(ohe)
dataset.head()

,Invoice ID,Branch,City,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,Male,Normal
0,750-67-8428,A,Yangon,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1,0,0
1,226-31-3081,C,Naypyitaw,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6,0,1
2,631-41-3108,A,Yangon,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4,1,1
3,123-19-1176,A,Yangon,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4,1,0
4,373-73-7910,A,Yangon,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3,1,1

In [179]:
ohe = pd.get_dummies(dataset['Branch'])
dataset.drop('Branch', axis = 1, inplace = True)
dataset =  dataset.join(ohe)
dataset.head()

,Invoice ID,City,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,Male,Normal,A,B,C
0,750-67-8428,Yangon,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1,0,0,1,0,0
1,226-31-3081,Naypyitaw,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6,0,1,0,0,1
2,631-41-3108,Yangon,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4,1,1,1,0,0
3,123-19-1176,Yangon,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4,1,0,1,0,0
4,373-73-7910,Yangon,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3,1,1,1,0,0

In [180]:
ohe = pd.get_dummies(dataset['City'])
dataset.drop('City', axis = 1, inplace = True)
dataset =  dataset.join(ohe)
dataset.head()

,Invoice ID,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,...,gross income,Rating,Male,Normal,A,B,C,Mandalay,Naypyitaw,Yangon
0,750-67-8428,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,...,26.1415,9.1,0,0,1,0,0,0,0,1
1,226-31-3081,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,...,3.8200,9.6,0,1,0,0,1,0,1,0
2,631-41-3108,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,...,16.2155,7.4,1,1,1,0,0,0,0,1
3,123-19-1176,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,...,23.2880,8.4,1,0,1,0,0,0,0,1
4,373-73-7910,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,...,30.2085,5.3,1,1,1,0,0,0,0,1

In [181]:
ohe = pd.get_dummies(dataset['Product line'])
dataset.drop('Product line', axis = 1, inplace = True)
dataset =  dataset.join(ohe)
dataset.head()

,Invoice ID,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,...,C,Mandalay,Naypyitaw,Yangon,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
0,750-67-8428,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,...,0,0,0,1,0,0,0,1,0,0
1,226-31-3081,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,...,1,0,1,0,1,0,0,0,0,0
2,631-41-3108,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,...,0,0,0,1,0,0,0,0,1,0
3,123-19-1176,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,...,0,0,0,1,0,0,0,1,0,0
4,373-73-7910,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,...,0,0,0,1,0,0,0,0,0,1

In [182]:
ohe = pd.get_dummies(dataset['Payment'])
dataset.drop('Payment', axis = 1, inplace = True)
dataset =  dataset.join(ohe)
dataset.head()

,Invoice ID,Unit price,Quantity,Tax 5%,Total,Date,Time,cogs,gross margin percentage,gross income,...,Yangon,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel,Cash,Credit card,Ewallet
0,750-67-8428,74.69,7,26.1415,548.9715,1/5/2019,13:08,522.83,4.761905,26.1415,...,1,0,0,0,1,0,0,0,0,1
1,226-31-3081,15.28,5,3.8200,80.2200,3/8/2019,10:29,76.40,4.761905,3.8200,...,0,1,0,0,0,0,0,1,0,0
2,631-41-3108,46.33,7,16.2155,340.5255,3/3/2019,13:23,324.31,4.761905,16.2155,...,1,0,0,0,0,1,0,0,1,0
3,123-19-1176,58.22,8,23.2880,489.0480,1/27/2019,20:33,465.76,4.761905,23.2880,...,1,0,0,0,1,0,0,0,0,1
4,373-73-7910,86.31,7,30.2085,634.3785,2/8/2019,10:37,604.17,4.761905,30.2085,...,1,0,0,0,0,0,1,0,0,1

In [183]:
dataset.columns

Index(['Invoice ID', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'cogs', 'gross margin percentage', 'gross income', 'Rating',
       'Male', 'Normal', 'A', 'B', 'C', 'Mandalay', 'Naypyitaw', 'Yangon',
       'Electronic accessories', 'Fashion accessories', 'Food and beverages',
       'Health and beauty', 'Home and lifestyle', 'Sports and travel', 'Cash',
       'Credit card', 'Ewallet'],
      dtype='object')

In [184]:
dataset.describe()

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating,Male,Normal,...,Yangon,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel,Cash,Credit card,Ewallet
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1.000000e+03,1000.000000,1000.00000,1000.000000,1000.000000,...,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,55.672130,5.510000,15.379369,322.966749,307.58738,4.761905e+00,15.379369,6.97270,0.499000,0.499000,...,0.340000,0.170000,0.178000,0.174000,0.152000,0.160000,0.166000,0.344000,0.311000,0.345000
std,26.494628,2.923431,11.708825,245.885335,234.17651,6.131498e-14,11.708825,1.71858,0.500249,0.500249,...,0.473946,0.375821,0.382704,0.379299,0.359201,0.366789,0.372267,0.475279,0.463134,0.475606
min,10.080000,1.000000,0.508500,10.678500,10.17000,4.761905e+00,0.508500,4.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,32.875000,3.000000,5.924875,124.422375,118.49750,4.761905e+00,5.924875,5.50000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,55.230000,5.000000,12.088000,253.848000,241.76000,4.761905e+00,12.088000,7.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,77.935000,8.000000,22.445250,471.350250,448.90500,4.761905e+00,22.445250,8.50000,1.000000,1.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
max,99.960000,10.000000,49.650000,1042.650000,993.00000,4.761905e+00,49.650000,10.00000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [185]:
#dataset = dataset[['Unit price', 'Quantity', 'Tax 5%', 'Total', 'cogs', 'gross margin percentage', 'gross income', 'Rating','Male', 'A', 'B', 'C', 'Normal', 'Mandalay', 'Naypyitaw', 'Yangon','Electronic accessories', 'Fashion accessories', 'Food and beverages','Health and beauty', 'Home and lifestyle', 'Sports and travel', 'Cash','Credit card', 'Ewallet']]
dataset = dataset[['Unit price','cogs', 'Quantity','Male', 'A', 'B', 'C', 'Normal','Electronic accessories', 'Fashion accessories', 'Food and beverages','Health and beauty', 'Home and lifestyle', 'Sports and travel']]

In [186]:
y = dataset.loc[:,'Quantity']
x = dataset.iloc[:, dataset.columns != 'Quantity']

In [187]:
std_scaler = StandardScaler()

In [188]:
x = std_scaler.fit_transform(x)

In [189]:
x

array([[ 0.71816014,  0.91960685, -0.998002  , ...,  2.36197954,
        -0.43643578, -0.44613985],
       [-1.52530319, -0.98772956, -0.998002  , ..., -0.42337369,
        -0.43643578, -0.44613985],
       [-0.35278112,  0.07144605,  1.002002  , ..., -0.42337369,
         2.29128785, -0.44613985],
       ...,
       [-0.89995809, -1.17810859,  1.002002  , ..., -0.42337369,
        -0.43643578, -0.44613985],
       [ 0.38320778, -1.03293176,  1.002002  , ..., -0.42337369,
         2.29128785, -0.44613985],
       [ 1.23361671,  1.32783657, -0.998002  , ..., -0.42337369,
        -0.43643578, -0.44613985]])

In [190]:
x_train, x_test, y_train, y_test = train_test_split(x,y ,test_size =0.2 ,random_state = 2022
                                                    , shuffle = True)

In [191]:
x_train.shape, y_train.shape

((800, 13), (800,))

# Red 1

In [192]:
def red_v1 ():
    
    # base secuencial 
    clasificador = Sequential()

    #primera capa oculta

    clasificador.add(Dense(input_dim = 13, units = 6 , activation = 'relu', kernel_initializer = 'uniform'))
                 
    #segunda capa oculta
                 
    clasificador.add(Dense(units =6, activation ='relu', kernel_initializer ='uniform'))

    #capa de salida
                  
    clasificador.add(Dense(units=1, activation = 'sigmoid', kernel_initializer = 'uniform'))
    
    # parametros d eotpimizacion 

    clasificador.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])


    return clasificador

In [193]:
clasificador = KerasClassifier(build_fn = red_v1, batch_size = 25, nb_epoch =5100)

In [194]:
kfolds = KFold(n_splits =10, shuffle = True)

acc = cross_val_score(clasificador, X=x_train, y=y_train, cv = kfolds, verbose =1, n_jobs = -1)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:   10.2s finished

In [195]:
acc

array([0.0625    , 0.0875    , 0.1375    , 0.0875    , 0.075     ,
       0.0875    , 0.075     , 0.075     , 0.0625    , 0.16249999])

In [196]:
acc.mean()

0.0912500001490116

# RED 2

In [197]:
def red_v2 ():
    
    # base secuencial 
    clasificador = Sequential()

    #primera capa oculta

    clasificador.add(Dense(input_dim = 13, units = 6 , activation = 'relu', kernel_initializer = 'uniform'))
                 
    #segunda capa oculta
                 
    clasificador.add(Dense(units =6, activation ='relu', kernel_initializer ='uniform'))

    #capa de salida
                  
    clasificador.add(Dense(units=1, activation = 'sigmoid', kernel_initializer = 'uniform'))
    
    # parametros d eotpimizacion 

    clasificador.compile(optimizer = 'SGD', loss = 'binary_crossentropy', metrics = ['accuracy'])


    return clasificador

In [198]:
clasificador2 = KerasClassifier(build_fn = red_v2, batch_size = 25, nb_epoch =5100)

In [199]:
acc2 = cross_val_score(clasificador2, X=x_train, y=y_train, cv = kfolds, verbose =1, n_jobs = -1)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:    4.0s finished

In [200]:
acc2

array([0.1125    , 0.16249999, 0.0875    , 0.075     , 0.0875    ,
       0.075     , 0.0125    , 0.125     , 0.0875    , 0.0875    ])

In [201]:
acc2.mean()

0.09124999912455678

# RED 3

In [202]:
def red_v3 ():
    
    # base secuencial 
    clasificador = Sequential()

    #primera capa oculta

    clasificador.add(Dense(input_dim = 13, units = 6 , activation = 'relu', kernel_initializer = 'uniform'))
                 
    #segunda capa oculta
                 
    clasificador.add(Dense(units =6, activation ='relu', kernel_initializer ='uniform'))

    #capa de salida
                  
    clasificador.add(Dense(units=1, activation = 'sigmoid', kernel_initializer = 'uniform'))
    
    # parametros d eotpimizacion 

    clasificador.compile(optimizer = 'Adamax', loss = 'binary_crossentropy', metrics = ['accuracy'])


    return clasificador

In [203]:
clasificador3 = KerasClassifier(build_fn = red_v3, batch_size = 25, nb_epoch =5100)

In [204]:
acc3 = cross_val_score(clasificador3, X=x_train, y=y_train, cv = kfolds, verbose =1, n_jobs = -1)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:    0.8s finished

In [205]:
acc3.mean()

0.09125000201165676

# Red4

In [206]:
def red_v4 ():
    
    # base secuencial 
    clasificador = Sequential()

    #primera capa oculta

    clasificador.add(Dense(input_dim = 13, units = 6 , activation = 'relu', kernel_initializer = 'uniform'))
                 
    #segunda capa oculta
                 
    clasificador.add(Dense(units =6, activation ='relu', kernel_initializer ='uniform'))

    #capa de salida
                  
    clasificador.add(Dense(units=1, activation = 'sigmoid', kernel_initializer = 'uniform'))
    
    # parametros d eotpimizacion 

    clasificador.compile(optimizer = 'Adamax', loss = 'binary_crossentropy', metrics = ['accuracy'])


    return clasificador

In [207]:
clasificador4 = KerasClassifier(build_fn = red_v4, batch_size = 25, nb_epoch =5100)

In [208]:
acc4 = cross_val_score(clasificador4, X=x_train, y=y_train, cv = kfolds, verbose =1, n_jobs = -1)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:    0.8s finished

In [209]:
acc4.mean()

0.09125000163912773

# RED 5

In [210]:
# Creamos el objeto de Regresión Linear
regr = linear_model.LinearRegression()

In [211]:
# Entrenamos nuestro modelo
regr.fit(x_train, y_train)
 
# Hacemos las predicciones que en definitiva una línea (en este caso, al ser 2D)
y_pred = regr.predict(x_train)

In [212]:
estimacion_y = regr.predict(x_test)

In [213]:
#error absoluto de media

print("erro medio absoluto: %.2f"% np.mean(np.absolute(estimacion_y -y_test)))

erro medio absoluto: 0.79

In [214]:
# Error cuadrativo medio

print("erro cuadratico medio: %.2f"% np.mean((estimacion_y -y_test)**2))

erro cuadratico medio: 1.25

In [217]:
estimacion_y

array([10.21008209,  2.02551178,  5.11926178,  3.64855865,  9.05480865,
        5.54113678,  4.90637115,  3.3087149 ,  7.6212149 ,  2.02062897,
        0.86584381,  5.33459381,  2.96105865,  2.28723053,  6.55334381,
        3.86779694,  4.82531647,  3.1993399 , 10.24230865,  6.96691803,
        5.34582428,  2.57531647,  2.27941803,  5.66711334,  6.78332428,
        3.07141022,  6.18615631, 11.19055084,  3.88879303,  4.45910553,
        4.40930084,  6.70129303,  6.71887115,  8.93566803,  9.2540274 ,
        6.76672272,  6.25256256,  0.36828522,  4.33410553,  4.89758209,
        5.78918365,  4.30285553,  9.1055899 , 10.3868399 ,  6.9571524 ,
        4.11975006,  4.3399649 ,  5.63586334,  5.74865631,  7.25646881,
        7.60754303, 10.38098053,  8.71887115,  6.61730865, -0.12976166,
        9.47668365,  5.67101959,  5.02600006,  6.00988678,  5.79894928,
        4.59045319,  8.74426178,  8.8712149 ,  5.8712149 ,  5.37512115,
        1.80480865,  4.9259024 ,  6.0118399 ,  6.19738678,  7.31945709,
       10.55334381,  6.13635162,  4.90978912,  0.88244537,  5.9649649 ,
        2.77160553,  8.8946524 ,  3.7852774 ,  9.39562897,  2.96008209,
        5.97766022,  6.55773834,  9.53332428,  9.6290274 ,  7.59387115,
        3.25695709,  4.30676178,  8.41516022,  5.11389069,  5.73644928,
        5.02990631,  7.03332428,  0.63488678,  1.0118399 ,  3.55285553,
        2.0743399 ,  1.8868399 ,  0.82043365,  3.55480865,  4.10803131,
        5.61730865,  5.97473053,  4.38098053,  1.4884024 ,  3.63928131,
        6.42199615,  7.57824615,  3.4805899 , 11.35266022,  6.29113678,
       11.8531485 ,  8.80285553,  6.47375397,  1.75256256,  6.58264069,
        4.76818756,  4.53332428,  1.80676178,  7.59680084,  4.36535553,
        4.11730865,  5.34387115,  7.03381256,  4.74816803,  4.9337149 ,
        7.31262115,  8.08898834,  0.90734772,  5.1368399 ,  9.69592194,
        4.42785553,  9.1446524 , 10.22180084,  2.34875397,  5.38195709,
        2.92004303,  1.06896881,  1.97131256, 10.22473053,  8.98889069,
        4.29113678,  4.23303131,  6.55187897,  8.53771881,  6.06848053,
        5.6290274 ,  9.59973053,  3.59435944,  5.49914459,  6.17053131,
        7.72131256,  3.74084381,  4.74816803,  0.57043365,  5.71008209,
        7.03771881,  7.4571524 ,  6.0274649 ,  7.19836334,  5.8087149 ,
        4.11291412,  7.37707428,  7.4493399 ,  4.80822662,  8.77404694,
       -0.3162851 ,  2.60949615,  0.52941803, 10.02160553,  3.58410553,
        5.45617584,  8.77551178,  2.3009024 ,  7.67394928,  3.29894928,
        5.9571524 ,  6.52551178,  7.50060944,  8.70178131,  7.44982819,
        3.8477774 , 10.09338287,  1.88488678,  2.9937735 ,  6.7149649 ,
        8.07629303,  3.28332428,  7.09582428,  4.75988678,  7.9102774 ,
        6.69250397,  5.8634024 ,  3.3946524 ,  5.40441803,  4.03723053,
        6.79943756,  5.75646881,  2.54894928,  5.14855865,  8.5274649 ])

# Este fue el modelo elegido debido al arrer obtenido en cada en unas de las predicciones, se obtuvo una estimacion del 79%

In [55]:
print("Coeficientes:" , regr.coef_)
print("Intercepto:" , regr.intercept_)

Coeficientes: [-2.10658959e+00  3.38293448e+00 -3.01622175e-02 -2.59934022e+12
 -2.58409796e+12 -2.57616252e+12 -3.34175160e-03 -7.35263221e+12
 -7.48730019e+12 -7.42068477e+12 -7.02747090e+12 -7.17594283e+12
 -7.28310221e+12]
Intercepto: 5.518187561035156

# GRID SEARCH

In [38]:
# crear un diccionario con hiper parametros

parametros = {
    'batch_size': [5,8],
    'nb_epoch': [100,200],
    'optimizer': ['adam', 'SGD']
}

In [39]:
def grid_search_v1 (optimizer):
    clasificador = Sequential()
    clasificador.add(Dense(input_dim = 13, units = 6 , activation = 'relu', kernel_initializer = 'uniform'))
    clasificador.add(Dense(units =6, activation ='relu', kernel_initializer ='uniform'))
    clasificador.add(Dense(units=1, activation = 'sigmoid', kernel_initializer = 'uniform'))
    clasificador.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
    return clasificador

In [40]:
clasificador_grid_search = KerasClassifier(build_fn = grid_search_v1)

In [41]:
grid_out = GridSearchCV(estimator= clasificador_grid_search,
                     param_grid = parametros,
                     cv=20,
                     scoring = 'accuracy')

In [42]:
train_grid_out = grid_out.fit(x_train, y_train, verbose =1)

152/152 [==============================] - 0s 319us/step - loss: 0.2923 - accuracy: 0.0947
WARNING:tensorflow:From D:\Users\Jhonnatan\anaconda3\envs\Galileo_2022\lib\site-packages\tensorflow\python\keras\wrappers\scikit_learn.py:241: Sequential.predict_classes (from tensorflow.python.keras.engine.sequential) is deprecated and will be removed after 2021-01-01.
Instructions for updating:
Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).
152/152 [==============================] - 0s 398us/step - loss: 0.0654 - accuracy: 0.0921
152/152 [==============================] - 0s 363us/step - loss: -0.0173 - accuracy: 0.0934
152/152 [==============================] - 0s 432us/step - loss: 0.1163 - accuracy: 0.0908
152/152 [==============================] - 0s 390us/step - loss: -0.3313 - accuracy: 0.0921
152/152 [==============================] - 0s 318us/step - loss: -0.1160 - accuracy: 0.0882
152/152 [==============================] - 0s 428us/step - loss: 0.2459 - accuracy: 0.0934
152/152 [==============================] - 0s 327us/step - loss: 0.1296 - accuracy: 0.0895
152/152 [==============================] - 0s 425us/step - loss: -0.3223 - accuracy: 0.0868
152/152 [==============================] - 0s 282us/step - loss: -0.2389 - accuracy: 0.0934
152/152 [==============================] - 0s 408us/step - loss: -0.1368 - accuracy: 0.0921
152/152 [==============================] - 0s 368us/step - loss: -0.1692 - accuracy: 0.0934
152/152 [==============================] - 0s 431us/step - loss: 0.2645 - accuracy: 0.0934
152/152 [==============================] - 0s 446us/step - loss: -0.1375 - accuracy: 0.0921
152/152 [==============================] - 0s 418us/step - loss: -0.3067 - accuracy: 0.0895
152/152 [==============================] - 0s 424us/step - loss: 0.3170 - accuracy: 0.1013
152/152 [==============================] - 0s 385us/step - loss: -0.3357 - accuracy: 0.0855
152/152 [==============================] - 0s 311us/step - loss: -0.1303 - accuracy: 0.0908
152/152 [==============================] - 0s 370us/step - loss: 0.2538 - accuracy: 0.0921
152/152 [==============================] - 0s 369us/step - loss: -0.0075 - accuracy: 0.0921
152/152 [==============================] - 0s 382us/step - loss: -0.1175 - accuracy: 0.0921
152/152 [==============================] - 0s 311us/step - loss: 0.2774 - accuracy: 0.0921
152/152 [==============================] - 0s 349us/step - loss: -0.0317 - accuracy: 0.0921
152/152 [==============================] - 0s 367us/step - loss: 0.0219 - accuracy: 0.0934
152/152 [==============================] - 0s 319us/step - loss: 0.2248 - accuracy: 0.0934
152/152 [==============================] - 0s 370us/step - loss: 0.1780 - accuracy: 0.0855
152/152 [==============================] - 0s 339us/step - loss: -0.0027 - accuracy: 0.0882
152/152 [==============================] - 0s 373us/step - loss: -0.1304 - accuracy: 0.0895
152/152 [==============================] - 0s 429us/step - loss: 0.0383 - accuracy: 0.0882
152/152 [==============================] - 0s 355us/step - loss: 0.1111 - accuracy: 0.0947
152/152 [==============================] - 0s 318us/step - loss: -0.1512 - accuracy: 0.0921
152/152 [==============================] - 0s 379us/step - loss: -0.0293 - accuracy: 0.0934
152/152 [==============================] - 0s 369us/step - loss: -0.0112 - accuracy: 0.0934
152/152 [==============================] - 0s 374us/step - loss: -0.2463 - accuracy: 0.0921
152/152 [==============================] - 0s 322us/step - loss: 0.1332 - accuracy: 0.0908
152/152 [==============================] - 0s 373us/step - loss: 0.4072 - accuracy: 0.0974
152/152 [==============================] - 0s 370us/step - loss: 0.1473 - accuracy: 0.0855
152/152 [==============================] - 0s 419us/step - loss: -0.3720 - accuracy: 0.0908
152/152 [==============================] - 0s 346us/step - loss: -0.1811 - accuracy: 0.0908
152/152 [==============================] - 0s 315us/step - loss: 0.0746 - accuracy: 0.0895
152/152 [==============================] - 0s 447us/step - loss: 0.1951 - accuracy: 0.0934
152/152 [==============================] - 0s 378us/step - loss: 0.1763 - accuracy: 0.0908
  1/152 [..............................] - ETA: 0s - loss: 0.6930 - accuracy: 0.2000WARNING:tensorflow:Callbacks method `on_train_batch_end` is slow compared to the batch time (batch time: 0.0000s vs `on_train_batch_end` time: 0.0156s). Check your callbacks.
152/152 [==============================] - 0s 446us/step - loss: -0.3712 - accuracy: 0.0947
152/152 [==============================] - 0s 375us/step - loss: -0.0983 - accuracy: 0.0921
152/152 [==============================] - 0s 374us/step - loss: 0.0990 - accuracy: 0.0934
152/152 [==============================] - 0s 436us/step - loss: 0.1272 - accuracy: 0.0882
152/152 [==============================] - 0s 372us/step - loss: 0.2055 - accuracy: 0.0934
152/152 [==============================] - 0s 429us/step - loss: -0.1368 - accuracy: 0.0895
152/152 [==============================] - 0s 413us/step - loss: 0.1293 - accuracy: 0.0855
152/152 [==============================] - 0s 325us/step - loss: 0.0521 - accuracy: 0.0934
152/152 [==============================] - 0s 377us/step - loss: 0.2761 - accuracy: 0.0934
152/152 [==============================] - 0s 341us/step - loss: -0.0792 - accuracy: 0.0934
152/152 [==============================] - 0s 324us/step - loss: 0.2907 - accuracy: 0.0934
152/152 [==============================] - 0s 428us/step - loss: 0.1488 - accuracy: 0.0921
152/152 [==============================] - 0s 382us/step - loss: 0.0646 - accuracy: 0.0895
152/152 [==============================] - 0s 444us/step - loss: 0.1402 - accuracy: 0.0961
152/152 [==============================] - 0s 395us/step - loss: -0.2022 - accuracy: 0.0855
152/152 [==============================] - 0s 401us/step - loss: -0.1451 - accuracy: 0.0908
152/152 [==============================] - 0s 434us/step - loss: 0.1190 - accuracy: 0.0895
152/152 [==============================] - 0s 382us/step - loss: -0.4734 - accuracy: 0.0908
152/152 [==============================] - 0s 429us/step - loss: 0.1113 - accuracy: 0.0908
152/152 [==============================] - 0s 411us/step - loss: 0.1081 - accuracy: 0.0921
152/152 [==============================] - 0s 420us/step - loss: -0.4156 - accuracy: 0.0947
152/152 [==============================] - 0s 340us/step - loss: -0.0037 - accuracy: 0.0921
152/152 [==============================] - 0s 408us/step - loss: -0.2462 - accuracy: 0.0934
152/152 [==============================] - 0s 426us/step - loss: 0.0932 - accuracy: 0.0895
152/152 [==============================] - 0s 359us/step - loss: -0.3318 - accuracy: 0.0908
152/152 [==============================] - 0s 425us/step - loss: 0.1025 - accuracy: 0.0895
152/152 [==============================] - 0s 364us/step - loss: -0.2751 - accuracy: 0.0868
152/152 [==============================] - 0s 378us/step - loss: -0.0237 - accuracy: 0.0947
152/152 [==============================] - 0s 436us/step - loss: 0.3019 - accuracy: 0.0921
152/152 [==============================] - 0s 422us/step - loss: -0.1221 - accuracy: 0.0921
152/152 [==============================] - 0s 334us/step - loss: 0.1573 - accuracy: 0.0947
152/152 [==============================] - 0s 377us/step - loss: -0.0534 - accuracy: 0.0908
152/152 [==============================] - 0s 345us/step - loss: -0.1277 - accuracy: 0.0895
152/152 [==============================] - 0s 405us/step - loss: 0.2575 - accuracy: 0.0947
152/152 [==============================] - 0s 386us/step - loss: -0.0534 - accuracy: 0.0868
152/152 [==============================] - 0s 436us/step - loss: -0.1165 - accuracy: 0.0895
152/152 [==============================] - 0s 433us/step - loss: 0.1364 - accuracy: 0.0947
152/152 [==============================] - 0s 358us/step - loss: -0.1713 - accuracy: 0.0908
95/95 [==============================] - 0s 473us/step - loss: 0.3820 - accuracy: 0.0921
95/95 [==============================] - 0s 394us/step - loss: 0.4230 - accuracy: 0.0908
95/95 [==============================] - 0s 410us/step - loss: 0.4082 - accuracy: 0.0934
95/95 [==============================] - 0s 461us/step - loss: 0.3959 - accuracy: 0.0908
95/95 [==============================] - 0s 3ms/step - loss: 0.3532 - accuracy: 0.0934
95/95 [==============================] - 0s 494us/step - loss: 0.2831 - accuracy: 0.0882
95/95 [==============================] - 0s 374us/step - loss: 0.4485 - accuracy: 0.0895
95/95 [==============================] - 0s 454us/step - loss: 0.4022 - accuracy: 0.0895
95/95 [==============================] - 0s 342us/step - loss: 0.4084 - accuracy: 0.0868
95/95 [==============================] - 0s 472us/step - loss: 0.3965 - accuracy: 0.0934
95/95 [==============================] - 0s 356us/step - loss: 0.3801 - accuracy: 0.0934
95/95 [==============================] - 0s 381us/step - loss: 0.3072 - accuracy: 0.0921
95/95 [==============================] - 0s 484us/step - loss: 0.3884 - accuracy: 0.0934
95/95 [==============================] - 0s 445us/step - loss: 0.4830 - accuracy: 0.0921
95/95 [==============================] - 0s 479us/step - loss: 0.4037 - accuracy: 0.0908
95/95 [==============================] - 0s 400us/step - loss: 0.3634 - accuracy: 0.0961
95/95 [==============================] - 0s 449us/step - loss: 0.4111 - accuracy: 0.0868
95/95 [==============================] - 0s 471us/step - loss: 0.4340 - accuracy: 0.0908
95/95 [==============================] - 0s 472us/step - loss: 0.4010 - accuracy: 0.0934
95/95 [==============================] - 0s 509us/step - loss: 0.3656 - accuracy: 0.0934
95/95 [==============================] - 0s 406us/step - loss: 0.3221 - accuracy: 0.0921
95/95 [==============================] - 0s 458us/step - loss: 0.4001 - accuracy: 0.0908
95/95 [==============================] - 0s 393us/step - loss: 0.3769 - accuracy: 0.0934
95/95 [==============================] - 0s 372us/step - loss: 0.4080 - accuracy: 0.0908
95/95 [==============================] - 0s 489us/step - loss: 0.3665 - accuracy: 0.0934
95/95 [==============================] - 0s 460us/step - loss: 0.3686 - accuracy: 0.0895
95/95 [==============================] - 0s 444us/step - loss: 0.3387 - accuracy: 0.0908
95/95 [==============================] - 0s 368us/step - loss: 0.3931 - accuracy: 0.0908
95/95 [==============================] - 0s 466us/step - loss: 0.4816 - accuracy: 0.0868
95/95 [==============================] - 0s 406us/step - loss: 0.3203 - accuracy: 0.0934
95/95 [==============================] - 0s 462us/step - loss: 0.4425 - accuracy: 0.0947
95/95 [==============================] - 0s 348us/step - loss: 0.4045 - accuracy: 0.0947
95/95 [==============================] - 0s 406us/step - loss: 0.4633 - accuracy: 0.0947
95/95 [==============================] - 0s 415us/step - loss: 0.3365 - accuracy: 0.0921
95/95 [==============================] - 0s 445us/step - loss: 0.3305 - accuracy: 0.0895
95/95 [==============================] - 0s 506us/step - loss: 0.3351 - accuracy: 0.0961
95/95 [==============================] - 0s 503us/step - loss: 0.2537 - accuracy: 0.0855
95/95 [==============================] - 0s 386us/step - loss: 0.3400 - accuracy: 0.0908
95/95 [==============================] - 0s 455us/step - loss: 0.2290 - accuracy: 0.0921
95/95 [==============================] - 0s 342us/step - loss: 0.3350 - accuracy: 0.0908
95/95 [==============================] - 0s 400us/step - loss: 0.4382 - accuracy: 0.0908
95/95 [==============================] - 0s 461us/step - loss: 0.4488 - accuracy: 0.0908
95/95 [==============================] - 0s 484us/step - loss: 0.3268 - accuracy: 0.0934
95/95 [==============================] - 0s 357us/step - loss: 0.2829 - accuracy: 0.0908
95/95 [==============================] - 0s 456us/step - loss: 0.4283 - accuracy: 0.0947
95/95 [==============================] - 0s 505us/step - loss: 0.4337 - accuracy: 0.0882
95/95 [==============================] - 0s 466us/step - loss: 0.3493 - accuracy: 0.0908
95/95 [==============================] - 0s 481us/step - loss: 0.4103 - accuracy: 0.0882
95/95 [==============================] - 0s 486us/step - loss: 0.4268 - accuracy: 0.0868
95/95 [==============================] - 0s 459us/step - loss: 0.3143 - accuracy: 0.0934
95/95 [==============================] - 0s 404us/step - loss: 0.3312 - accuracy: 0.0908
95/95 [==============================] - 0s 477us/step - loss: 0.3964 - accuracy: 0.0934
95/95 [==============================] - 0s 409us/step - loss: 0.4292 - accuracy: 0.0934
95/95 [==============================] - 0s 363us/step - loss: 0.3719 - accuracy: 0.0934
95/95 [==============================] - 0s 348us/step - loss: 0.4168 - accuracy: 0.0895
95/95 [==============================] - 0s 393us/step - loss: 0.4172 - accuracy: 0.0934
95/95 [==============================] - 0s 449us/step - loss: 0.2254 - accuracy: 0.0855
95/95 [==============================] - 0s 506us/step - loss: 0.4711 - accuracy: 0.0908
95/95 [==============================] - 0s 383us/step - loss: 0.4141 - accuracy: 0.0934
95/95 [==============================] - 0s 493us/step - loss: 0.4335 - accuracy: 0.0921
95/95 [==============================] - 0s 436us/step - loss: 0.4260 - accuracy: 0.0921
95/95 [==============================] - 0s 483us/step - loss: 0.3523 - accuracy: 0.0908
95/95 [==============================] - 0s 361us/step - loss: 0.3242 - accuracy: 0.0921
95/95 [==============================] - 0s 388us/step - loss: 0.3375 - accuracy: 0.0908
95/95 [==============================] - 0s 388us/step - loss: 0.3787 - accuracy: 0.0921
95/95 [==============================] - 0s 474us/step - loss: 0.4288 - accuracy: 0.0842
95/95 [==============================] - 0s 341us/step - loss: 0.4362 - accuracy: 0.0908
95/95 [==============================] - 0s 400us/step - loss: 0.4858 - accuracy: 0.0908
95/95 [==============================] - 0s 459us/step - loss: 0.3900 - accuracy: 0.0855
95/95 [==============================] - 0s 342us/step - loss: 0.3753 - accuracy: 0.0934
95/95 [==============================] - 0s 427us/step - loss: 0.3927 - accuracy: 0.0921
95/95 [==============================] - 0s 469us/step - loss: 0.3907 - accuracy: 0.0961
95/95 [==============================] - 0s 391us/step - loss: 0.4711 - accuracy: 0.0961
95/95 [==============================] - 0s 399us/step - loss: 0.5037 - accuracy: 0.0947
95/95 [==============================] - 0s 418us/step - loss: 0.3463 - accuracy: 0.0895
95/95 [==============================] - 0s 360us/step - loss: 0.4101 - accuracy: 0.0961
95/95 [==============================] - 0s 491us/step - loss: 0.3934 - accuracy: 0.0868
95/95 [==============================] - 0s 410us/step - loss: 0.3826 - accuracy: 0.0908
95/95 [==============================] - 0s 461us/step - loss: 0.3484 - accuracy: 0.0921
95/95 [==============================] - 0s 505us/step - loss: 0.3280 - accuracy: 0.0908
160/160 [==============================] - 0s 408us/step - loss: -0.3837 - accuracy: 0.0913

In [46]:
#Guardar el modelo

#path = './'
#grid_out.save(path+ 'grid_search.h5')

In [47]:

#cargamos a la read 

#new_model = keras.models.load_model(path+ '6_6_sig_out.h5')

In [44]:
#predicciones

y_pred = grid_out.predict(x_test)
y_pred

array([[2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2]], dtype=int64)

In [45]:
accuracy_score(y_test, y_pred)

0.09